body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-submit-button {
  margin-left: 10px;
}

.vote-panel .panel-body {
  padding-top: 5px;
  padding-bottom: 0;
}

.vote-element {
  min-width: 100px;
}

.vote-top {
  padding-bottom: 0px;
}

.vote-bottom {
  padding-top: 0px;
}

.vote-top, .vote-bottom {
  font-size: 35px;
  text-align: center;
}

.vote-top:hover, .vote-bottom:hover, .comment-arrow:hover {
  color: blue;
  cursor: pointer;
  cursor: hand;
}

.vote-badge {
  text-align: center;
}

.vote-badge .badge {
  font-size: 20px;
  text-align: center;
}

.vote-text {
  text-align: center;
  font-size: 15px;
}

.link-delete {
  color: #DE2342 !important;
}

.link-edit {
  color: #B2B26C !important;
}

.link-edit, .link-delete {
  padding-left: 15px;
  font-style: italic;
}

.comment-title {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}
